@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  font-family: "Roboto", san-serif;
}

.tag-menu {
  padding: 24px;
  background: #fbfbfb;
  color: #c5c5c5;
  text-align: center;
  border-radius: 24px;
}

.tag-menu.active {
  background: #2f2f2f;
  color: #fff;
}
